# General
.DS_Store
.env
.env.*


# Frontend (Vite / React)
node_modules/
dist/
dist-ssr/
.vite/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Backend (Python / FastAPI)
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
.env/
*.log

# ML Models
*.pkl
*.joblib

# Editors
.vscode/
.idea/
